* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom, #667eea, #764ba2 );
    background-attachment: fixed;

}
section {
    width: 80vw;
    margin: 5% auto;
    padding-top: 40;
    text-align: center;
    line-height: 25px;
}
h1 {
    margin-bottom: 20px;
   
}

